.inputbar {
  background: black;
  border-radius: 2rem;
  width: 60%;
}

.questionBox {
  height: 5rem;
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
}

.textOutput {
  height: 5rem;
  font-size: 3rem;
  text-align: center;
}

.colorGray {
  color: gray;
}

.colorwhiteGray {
  color: whitesmoke;
}

.Game {
  text-align: center;
}

html{
  height: 100%;
  color: whitesmoke;
}

.startGame {
  
}

.startButton{
  width: 10%;
}

.kanban{

  width: 50rem;
}

.manue{
  width: 100%;
  text-align: center;
}