body {
  margin: 0 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

html {
  height: 100vh;
  color: whitesmoke;
}

.pc-dsp {
  display: block;
}

.sp-dsp {
  display: none;
}

@media only screen and (max-width : 736px) {
  .pc-dsp {
    display: none;
  }

  .sp-dsp {
    display: block;
  }
}